astropy==5.3
ipython==8.12.3
lmfit==1.2.2
matplotlib==3.8.2
numpy==1.23.5
p_tqdm==1.4.0
pandas==1.5.3
Pillow==10.2.0
Pillow==10.2.0
scikit_image==0.19.3
scipy==1.12.0
torch==2.2.1
torchvision==0.17.1
tqdm==4.65.0
